<div class="container d-flex">
    <div class="row">
        <div class="col">
            <%= render "layouts/vertical_menu" %>
        </div>
        <div class="col">
            <nav class="navbar navbar-light bg-light">
        <div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                    Cart: <%= @cart.cart_products.count %>
            </form>
        </div>
        </nav>
        </div>
    </div> 
</div>